.grommet.dashboard {
  .dashboard__nav nav a {
    text-decoration: none;
  }

  .dashboard__col {
    width: 100%;

    @include media-query(lap-and-up) {
      width: 50%;
    }
  }

  .posts-list {
    .posts-list__post .grommetux-heading {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dashboard__user-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
}
