.grommet.dashboard {
  .dashboard__nav nav a {
    text-decoration: none;
  }

  .dashboard__col {
    width: 100%;

    @include media-query(lap-and-up) {
      width: 50%;
    }
  }

  .posts-list {
    .posts-list__post .grommetux-heading {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dashboard__user-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
  .post-preview--hero {
    align-items: flex-start !important;
  }
  .post-preview--hero__headline {
    height: 4rem;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }
  .dashboard__post-form__button-row {
    max-width: 480px !important;
  }
}
