.error-notification {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 100vw;
  min-width: 600px;
  
  &__closer-button {
    position: absolute;
    right: 3px;
    top: 3px;
    svg {
      stroke: white !important;
    }
  }
}
