.error-notification {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  
  &__closer-button {
    position: absolute;
    right: 3px;
    top: 3px;
    svg {
      stroke: white !important;
    }
    @media screen and (max-width: 768px) {
      min-width: 0px;
      width: 100%;
    }
  }
}
