// sass-lint:disable no-important
.grommet.dashboard {
  .dashboard__nav nav a {
    text-decoration: none;
  }

  .dashboard__col {
    width: 100%;

    @include media-query(lap-and-up) {
      width: 50%;
    }
  }

  .posts-list {
    .posts-list__post .grommetux-heading {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dashboard__user-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }

  .post-preview--hero {
    align-items: flex-start !important;
  }

  .post-preview--hero__box {
    background-color: #666666 !important;
    height: calc(50vh - 140px);
  }

  $font-size: 4rem;
  $line-height: 0.85;
  $lines-to-show: 3;

  .post-preview--hero__headline {
    max-height: $font-size * $lines-to-show * $line-height;
    max-width: 80%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    font-weight: 800;
    line-height: 0.85;
    text-transform: uppercase;
    font-size: $font-size !important;
    -webkit-line-clamp: 3;
  }

  .dashboard__post-form__button-row {
    max-width: 480px !important;
  }

  .dashboard--content-blocks__button-footer {
    width: 100%;
    justify-content: space-around;
  }
  
}

.grommetux-layer__container:first-child {
  display: block !important;
}

.grommetux-layer--hidden {
  right: 100% !important;
}

.dashboad--section-layout-form__scroll {
  max-height: 70vh;
  overflow: scroll;
}

.dashboard--post-page {
  .grommetux-split__column--fixed {
    height: calc(100vh - 74px) !important;
  }
}